/* @import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #eee;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em 2em;
    text-align: center;
    z-index: 1000;


}

#header-title {
    font-family: Comfortaa;
    color: white;
    margin-top: 23px;
    position: relative;
    animation: header-title-animation;
    animation-duration: 3s;
    transition: ease-in-out;
}

@keyframes header-title-animation {
    0% {
        top: -100px;
    }

    100% {
        top: 0;
    }
}

#header-para {
    padding-top: 10px;
    font-size: 15px;
    margin-left: 0;
    font-family: Montserrat;
    color: mediumseagreen;
    font-weight: 700;
    word-spacing: 8px;

    animation-name: header-para;
    animation-delay: 3s;
    animation-duration: 2s;
    transition: all ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes header-para {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




.para-container {

    line-height: 2em;
    font-family: Montserrat;
    font-weight: 500;
    text-align: justify;
    margin: 0px auto;
    animation-name: main-para-animation;
    transition: all ease-in-out;
    animation-duration: 3s;
    width: 100%;

}

.main-para {
    color: #fff;
    margin-top: 3em;
    padding: 1em;
    border-radius: 1em;
    font-weight: 600;
    text-align: justify;

}

@keyframes main-para-animation {
    0% {
        left: -2000px
    }

    100% {
        left: 0;
    }
}

@media (max-width: 750px) {

    .para-container {
        min-width: 100%;


    }
}

@media(max-width: 1024px) {
    .para-container {
        max-width: 90%;
    }
}


@media (max-width: 2000px) {
    .para-container {
        max-width: 55%;

    }
}

#secondary-title {
    text-align: center;
    font-size: 3rem;
    font-family: Montserrat;
    font-weight: 700;
    color: #3a3a3a;
} */