@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

/* Styling the header */
header {
  text-align: center;
  background-color: #eee;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 1000;
}

#header-title {
  font-family: Comfortaa, sans-serif;
  color: white;

  padding: 0.7em 10px;
  position: relative;
  animation: header-title-animation;
  animation-duration: 3s;
  transition: ease-in-out;
}

/* Adding animation to the title */
@keyframes header-title-animation {
  0% {
    top: -100px;
  }

  100% {
    top: 0;
  }
}

#header-para {
  font-size: 15px;
  margin-left: 0;
  margin-top: 0.2em;
  font-family: Montserrat, sans-serif;
  color: mediumseagreen;
  font-weight: 700;
  word-spacing: 8px;

  animation-name: header-para;
  animation-delay: 3s;
  animation-duration: 2s;
  transition: all ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes header-para {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.para-container {
  position: relative;
  width: 100%;
  margin: 0px auto;
  animation-name: main-para-animation;
  transition: all ease-in-out;
  animation-duration: 3s;
}

.main-para {
  color: #fff;
  text-align: justify;
  font-family: Open Sans, sans-serif;

  line-height: 2em;
  margin: 0 12px;
  text-align: justify;
  padding: 3em 0.5em;
}

@keyframes main-para-animation {
  0% {
    left: -2000px;
  }

  100% {
    left: 0;
  }
}

/* Styling the main area */

#secondary-title {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
}

.secondary-div {
  width: 100%;
  height: 50vh;

  display: flex;
  flex-direction: column;

  margin: 0px auto;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/img9.jpg");
  background-position: center;
  background-size: cover;
}

.inner-div2 {
  width: 100%;
  height: 10vh;
  margin: 0px auto;
}

.inner-div2-para {
  padding: 10px 5px;
  font-family: Montserrat, sans-serif;

  text-align: center;
  line-height: 2em;
  font-weight: 500;
  color: white;
  animation: inner-div2-animation;
  animation-delay: 3s;
  animation-duration: 3s;
  transition: ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes inner-div2-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sub-main-breakpoint {
  margin-top: 3em;
}

.sub-main-title {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
}

.sub-main {
  margin-top: 3em;
  height: 90vh;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image1 {
  background: url("images/img1.jpeg");
  width: 50%;
  height: 200vh;
  background-position: center;
  background-size: cover;
  margin-top: 2em;
  margin-bottom: 2em;
}

.image2 {
  background: url("images/img10.jpeg");
  width: 50%;
  height: 200vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 2em;
}

.image3 {
  background: url("images/img9.jpg");
  width: 50%;
  height: 200vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 2em;
}

.image4 {
  background: url("images/img8.jpg");
  width: 50%;
  height: 200vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 2em;
}

.footer-title {
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 40px;
}

.foot {
  position: sticky;
  width: 100%;
  height: 25vh;
  margin-top: 3em;
  background-color: slateblue;
}

.fa.fa-whatsapp,
.fa.fa-envelope,
.fa.fa-phone {
  display: inline-block;
  margin: 0.5em;
}

.whatsapp-icon,
.email-icon,
.phone-icon {
  display: inline-block;
  padding: 10px 12px;
  font-family: Bahnschrift, sans-serif;
}

@media (min-width: 320) {
  .secondary-div {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .main-para {
    font-size: 20px;
  }

  .para-container {
    max-width: 80%;
  }

  .secondary-div {
    height: 43vh;
  }

  .inner-div2 {
    max-width: 60%;
    line-height: 2.5em;
    text-align: justify;
  }

  .inner-div2-para {
    font-size: 20px;
  }

  .sub-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .image1,
  .image2,
  .image3,
  .image4 {
    width: 34%;
    height: 30vh;
  }

  .image2 {
    position: relative;
    top: 1em;
  }
}

@media (min-width: 1024px) {
  .main-para {
    font-size: 25px;
  }

  h2 {
    font-size: 3rem;
  }

  .para-container {
    max-width: 70%;
  }

  .secondary-div {
    height: 45vh;
  }

  .inner-div2-para {
    font-size: 25px;
  }

  .inner-div2 {
    max-width: 50%;
    line-height: 2.5em;
    text-align: justify;
  }

  .sub-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .image1,
  .image2,
  .image3,
  .image4 {
    width: 34%;
    height: 25vh;
  }

  .image2 {
    position: relative;
    top: 1em;
  }

  .foot {
    height: 15vh;
  }

  .whatsapp-icon,
  .email-icon,
  .phone-icon {
    font-size: 30px;
  }
}

@media (min-width: 1100px) {
  .main-para {
    font-size: 1.2rem;
  }

  .para-container {
    max-width: 50%;
  }

  .secondary-div {
    height: 50vh;
  }

  .inner-div2 {
    max-width: 40%;
    line-height: 2.5em;
    text-align: justify;
  }

  .sub-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .image1,
  .image2,
  .image3,
  .image4 {
    width: 35%;
    height: 40vh;
  }

  .image2 {
    position: relative;
    top: 1em;
  }

  .foot {
    height: 25vh;
  }

  .whatsapp-icon,
  .email-icon,
  .phone-icon {
    font-size: 20px;
  }
}
